<div class="content__item content__item--quote">
    <div class="content__item--quote__quote">
        {{& textext}}
    </div>
    <div class="content__item--quote__from">
        {{& textint}}
    </div>
</div>
