<div class="content__item content__item--instagram content__item--has-iframe">
    <div class="content__item--instagram__wrapper">
        {{&html}}
    </div>
    <div class="content__item--instagram__from">
        <i class="fa fa-instagram"></i>&nbsp;<a href="{{url}}" target="_blank">{{fromname}}</a>
    </div>
</div>
