<div class="content__item content__item--vine content__item--has-iframe">
    <div class="content__item--has-iframe__wrapper">
        {{&html}}
    </div>
    <div class="content__item--vine__from">
        <i class="fa fa-vine"></i>&nbsp;<a href="{{url}}" target="_blank">{{fromname}}</a>
    </div>
</div>
